{
    "trailingComma": "none",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.pug",
            "options": {
                "parser": "pug",
                "singleQuote": false
            }
        }
    ]
}
